{% extends 'MainBundle:Template:sidebarWebiste.html.twig' %}


{% block title %}
Twoje hasło zostało pomyślnie zmienione
{% endblock %}


{% block container %}
<div class="container">
	<div class="col-md-12 ">
		<h1 class="page-header text-success">Zmiana hasła zakończona powodzeniem</h1>
			 {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
       		 {% endif %}
		<a href="{{ path('panel')}}">
        	<i class="fa fa-angle-double-left" aria-hidden="true"></i>
        	Powrót do panelu ankiet   
    	</a>  
	</div>
</div>
{% endblock %}

