{% extends 'MainBundle:Template:normalWebsiteWithBar.html.twig' %}


{% block title %}
Rejestracja zakończona powodzeniem - Ankietka
{% endblock %}

{% block link %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/security.css')}}" rel="stylesheet">
{% endblock %}

{% block container %}

<div class="security container">
    <div class="col-md-6 col-md-offset-3 top-buffer">
		<div class="panel panel-success panel-transparent">
    		<div class="panel-heading">
    			Rejestracja zakończona sukcesem
    		</div>
    		<div class="panel-body ">
    			<h2>Dziękujemy za dołączenie do nas! </h2></br>
    			<p>
    				Możesz teraz rozpocząć tworzenie ankiet, wystarczy że klikniesz swój adres email i przejdziesz do sekcji <strong>Panel ankiet</strong>
    			</p>
    		</div>
    	</div>
    </div>
</div>


{% endblock %}

