{% extends 'MainBundle:Default:normalWebsite.html.twig' %}

{% block title %}  
Regulamin korzystania z serwisu ankietka
{% endblock %}

{% block headline %}
	<h1>Regulamin</h1>
{% endblock %}

{% block container %}
Punkt 1
{% endblock %}
