
<body>
    <h3>Czeœæ zapomninaczu!</h3></br>
    <p>
        O to Twoje nowe has³o: <strong>{{ newPassword }}.</strong> </br>
        Dla bezpieczeñstwa Twoich danych bêdzie lepiej jeœli zmienisz je po zalogowaniu.
    </p>
</body>