{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_label_class -%}
col-sm-4
{%- endblock form_label_class %}

{% block form_group_class -%}
col-sm-8
{%- endblock form_group_class %}


{% block checkbox_widget %}
{% spaceless %}
<label class="button i_clear"> 
    <input type="checkbox" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %} {% if checked %} checked="checked"{% endif %} />
    <span>{{ label }}</span>
</label>
{% endspaceless %}
{% endblock checkbox_widget %}

