{% use 'bootstrap_3_layout.html.twig' %}

{% block form_row -%}
<div class="row">
	<div class="col-md-10">
    	 <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
	</div>
	<div class="col-md-2">
		<button type="button" class="btn btn-default align-middle" {{ block('widget_attributes') }}>Edytuj</button>
	</div>
</div>
{%- endblock form_row %}


