{% extends 'MainBundle:Template:base.html.twig' %}

{% block title %}
Ankietka
{% endblock %}

{% block link %}
{{ parent() }}
<link href="{{ asset('bundles/main/css/normalPage.css')}}"
	rel="stylesheet">
	<style>
    .jumbotron-img {
        background: url("{{ asset('bundles/main/img/jumbotron2.jpg') }}") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
        background: contain;
        margin: auto;
        padding-left: 100px;
        width: 100%;
        height: 300px;
        }
  </style>
{% endblock %}


{% block nav %}
{% endblock %}


{% block mainContainer %}

{% block headline %}
{% endblock %}


<div id="page-wrapper">

	<div class="col-md-offset-2 col-md-8" id="page">
		{% block container %}

		{% endblock %}

	</div>
</div>
<div class="spacer"></div>
<footer>
	<div>
		<div class="text-center top-buffer-10">
			Copyright © Ankietka 2016. All right reserved<a
				href="{{ path('about') }}"> O projeckie</a>
		</div>
	</div>
</footer>
{% endblock %}







