{% extends 'MainBundle:Template:normalWebsiteWithBar.html.twig' %}

{% block title %}  
	O projekcie ankietka
{% endblock %}

{% block headline %}	
          <h1>O projekcie!</h1>
{% endblock %}

{% block container %}
    <p>
    	Tekst o projekcie
    </p>    
{% endblock %}


