<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="service-block">
					<div class="services_box_left">
						<i class="fa fa-flask"></i>
					</div>
					<div class="services_box_right">
						<h3 >Nowoczesne ankiety </h3>
						<p>Dobrze przygotowana ankieta jest bardzo często podstawą do napisania pracy dyplomowej. Razem z nami uda Ci się osiągnąć swój cel.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-block">
					<div class="services_box_left">
						<i class="fa fa-bar-chart "></i>
					</div>
					<div class="services_box_right">
						<h3>Natychmiastowe wyniki </h3>
						<p>Jesteś ciekawy natychmiastowych wyników? U nas możesz śledzić je odrazu po stworzeniu ankiety. Wszystkie tabele i wykresy są w czasie rzeczywistym aktualizowane.</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="service-block">
					<div class="services_box_left">
						<i class="fa fa-mobile"></i>
					</div>
					<div class="services_box_right">
						<h3 >Przenośność </h3>
						<p>Od teraz możesz tworzyć ankiety na wszystkich urządzeniach mobilnych. Dzięki wbudowanej responsywności korzystanie z serwisu jest wszędzie wygodne.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-block">
					<div class="services_box_left">
						<i class="fa fa-desktop"></i>
					</div>
					<div class="services_box_right">
						<h3 >Łatwość tworzenia</h3>
						<p>Aby stworzyć ankiete wystarczy dosłownie kilka kliknieć. U nas wszystko jest proste i intuicyjne.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-block">
					<div class="services_box_left">
						<i class="fa fa-money"></i>
					</div>
					<div class="services_box_right">
						<h3 >Nic nie kosztuje</h3>
						<p>Nasza strona jest w pełni darmowa. Po założeniu konta masz odrazu dostęp do wszystkich funkcji.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-block">
					<div class="services_box_left">
						<i class="fa fa-paint-brush"></i>
					</div>
					<div class="services_box_right">
						<h3 >Piękne wykresy </h3>
						<p>Dzięki zastosowanym technologiom możesz cieszyć oko pięknymi wykresami. Nikomu nie będziesz się wstydził ich pokazać.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>