{% extends 'MainBundle:Template:normalWebsite.html.twig' %}
{% form_theme form 'MainBundle:form:vertical.html.twig' %}


{% block title %}
Ankieta -
{{ survey.title }}
{% endblock %}


{% block container %}
<div class="container top-buffer-30 bottom-buffer-30">
	<div class="col-md-offset-1 col-md-10">
		<div class="row">
    		<h1>
    			{{ survey.title }}
    		</h1>
		</div>
		<div class="row bottom-buffer page-header">
    		<p>
    			{{  survey.description }}
    		<p>
    	</div>
		<div class="row">
		    {{ form(form) }}
		</div>
	</div>
</div>

{% endblock %}

