<div class="panel panel-green">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-3">
				<i class="fa fa-sticky-note-o fa-5x" aria-hidden="true"></i>
			</div>
			<div class="col-xs-9 text-right">
				<div class="huge">{{ surveysNumber }}</div>
				<div class="text-left"> Tyle ankiet czeka na Twoje odpowiedzi</div>
			</div>
		</div>
	</div>
	<a href="{{ path('surveys')}}">
		<div class="panel-footer">
			<span class="pull-left">Zobacz wszystkie</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			<div class="clearfix"></div>
		</div>
	</a>
</div>
