<div class="list-group">

	<a href="#" class="list-group-item list-group-item-action  active"><p
			class="mb-1">Ostatnio dodane ankiety</p></a>

	{% for survey in surveys %}
	<a href="{{ path('survey', {'surveyId': survey.id }) }}"
		class="list-group-item list-group-item-action flex-column align-items-start">
		<div class="justify-content-between">

			<h5>
				{{ survey.title }}
			</h5>
			
		
			
			<small class="text-muted">{{ survey.addedDate.diff(now).days }} dni temu</small>

		</div>
		<p class="mb-1">
			{{ survey.description }}
		</p>

	</a>
	{% endfor %}
</div>

