
<div class="panel panel-default">
    <div class="panel-heading">
    	<h3 class="panel-title">Ostatnio dodane ankiety</h3>
    </div>
    <div class="panel-body list-group">
 
            {% for survey in surveys %}
               <a href="{{ path('survey', {'surveyId': survey.id }) }}"  class="list-group-item">{{ survey.title }}</a>
            {% endfor %}
    </div>
</div>

