<div class="panel panel-yellow">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-3">
				<i class="fa fa fa-user-plus fa-5x" aria-hidden="true"></i>
			</div>
			<div class="col-xs-9 text-right">
				<div class="huge">{{ usersNumber }}</div>
				<div class="text-center">Tyle osób do nas dołączyło</div>
			</div>
		</div>
	</div>
	<a href="{{ path('registration')}}">
		<div class="panel-footer">
			<span class="pull-left">Dołącz rownież</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			<div class="clearfix"></div>
		</div>
	</a>
</div>
