<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-3">
				<i class="fa fa fa-user-o fa-5x" aria-hidden="true"></i>
			</div>
			<div class="col-xs-9 text-right">
				<div class="huge">{{ usersNumber }}</div>
				<div class="text-center"> Tyle mieliśmy dziś odwiedzin</div>
			</div>
		</div>
	</div>
</div>
